<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" />
    <link rel="stylesheet" media="screen" href="/css/index.css">
    <link rel="stylesheet" media="screen" href="/css/utils.css">
    <link rel="stylesheet" media= "screen" href="/css/mensajes.css">    
      

    <link rel="icon" href="/resources/images/logo_64.png">
    <title>Página principal | 404AW</title>
</head>
<body>
    <%- include('header') %>

    <div class="content-body">
        <div class= "mensajes-info">
            <span>Mensajes recibidos</span>
            <!-- MUESTRO TODOS LOS MENSAJES QUE LE HAN MANDADO A ESTE USUARIO -->                    
            <% usuarios.forEach(usuario =>{ %>
                <div class ="userInfo">
                    <a href="/usuarios/perfil/<%= usuario.userid %>"><img src="/imagen/<%= usuario.Img %>" alt="profile image" class="profile-img"></a>
                    <span class="separator"><%= usuario.usuarioOrigen%></span class="separator"><span class="separator"><%= usuario.body %></span><span class="separator"><%= usuario.Date %></span>
                    <a class="btn btn-primary" href="/mensajes/borrar/<%= usuario.usuarioOrigen %>">Borrar</a>
                </div>   
            <% });%>
            <a class="btn btn-primary mt-10" href="/mensajes/crearMensaje">Enviar Mensaje</a>
        </div>

</body>



</html>