<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" />
    <link rel="stylesheet" media="screen" href="/css/utils.css">
    <link rel="stylesheet" media="screen" href="/css/questions.css">
    <link rel="stylesheet" media="screen" href="/css/index.css"> 
    <link rel="stylesheet" media="screen" href="/css/users.css"> 
    <link rel="stylesheet" media="screen" href="/css/profile.css">
    <link rel="icon" href="/resources/images/logo_64.png">
    <title>Users | 404AW</title>
</head>
<body>
    <%- include("header") %>

    <div class="content-body">
        <div class="users-content">
            <span class= "title"><%= title %></span>
            <div class="content-search">
                <div class="search">
                    <form action="/usuarios/filtrar/" method="GET" class="form-control">                        
                        <input type="text" class="form-field" name="filtro" autocomplete="off" placeholder="Filtrar por usuario">
                        <button class="btn btn-search ml-10" type="submit">Filtrar <i class="fa fa-filter"></i></button>
                    </form>
                </div>
            </div>
            <div class="all-users mt-20">

                <% users.forEach(function (user){ %>
                    <div class="user-info">
                        <a href="/usuarios/perfil/<%= user.userid %>"><img src="/imagen/<%= user.img %>" alt="profile image" class="profile-img"></a>
                        <span class="username"><%= user.username %></span>
                        <span><%= user.rep %></span>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</body>
</html>